#root{
  height: 100%;
}

body, html {
  height: 100%;
}

.box{
  height: 10rem;
  width: 10rem;
  
}

.tl {
  border: solid;
  border-width: 0px 2px 2px 0px;
  border-color: #282c34;
}
.tm {
  border: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #282c34;
}
.tr {
  border: solid;
  border-width: 0px 0px 2px 2px;
  border-color: #282c34;
}
.ml {
  border: solid;
  border-width: 0px 2px 2px 0px;
  border-color: #282c34;
}
.mm {
  border: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #282c34;
}
.mr {
  border: solid;
  border-width: 0px 0px 2px 2px;
  border-color: #282c34;
}
.bl {
  border: solid;
  border-width: 0px 2px 0px 0px;
  border-color: #282c34;
}
.bm {
  border: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #282c34;
}
.br {
  border: solid;
  border-width: 0px 0px 0px 2px;
  border-color: #282c34;
}

